body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    color: rgb(61, 63, 221);
    font-size: 1.1em;
    /* background: rgb(11,8,65);
    background: linear-gradient(70deg, rgba(18, 15, 77, 0.719) 15%, rgba(118, 9, 143, 0.664) 75%, rgba(86, 62, 223, 0.637) 100%); */
  }

.gradient-text {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #4158d0;
  background-image: linear-gradient(45deg, #af86df, #ffbf1c 46%, #a3fdcd);
  /* Standard property for compatibility */
  background-clip: text;
}