.skills-container {
  padding-top: 4rem;
}

#skills-heading {
  text-align: center;
  font-size: 2em;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
  gap: 0.3rem;
}

.skill {
  text-align: center;
  margin: 1em;
  width: 70px;
  height: 60px;
}

.skill img {
  max-width: 50px;
  height: 40px;
}

.skill p {
  margin-top: 0.5em;
}

@media screen and (max-width: 670px) {
  .skills {
    max-width: 100%;
  }
}