.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
  }
  
  .contact-info {
    flex: 1;
    margin-right: 2em;
  }
  
  .contact-info h2 {
    font-size: 2em;
  }
  
  .social-links a {
    display: block;
    margin-bottom: 0.5em;
    text-decoration: underline;
    color: #333;
    transition: color 0.3s ease-in-out;
    max-width: fit-content;
    padding: 0.4rem;
  }
  
  .social-links a:hover {
    color: #ffffff;
    background-color: #999999;
    border-radius: 5px;
  }
  
  .contact-form {
    flex: 1;
  }
  
  .contact-form h2 {
    font-size: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5em;
  }
  
  input,
  textarea {
    padding: 0.5em;
    margin-bottom: 1em;
  }
  
  #submitmsg {
    padding: 0.5em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  #submitmsg:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 670px) {
    .contact-container {
      flex-direction: column;
    }

    .contact-info {
      margin-right: 0;
    }

    .contact-info p {
      display: none;
    }
  }